[submodule "horde-glue"]
	path = horde-glue
	url = git@github.com:wrobel/horde-glue.git
[submodule "tools/topgit"]
	path = tools/topgit
	url = git@github.com:wrobel/topgit.git
[submodule "tools/pardalys"]
	path = tools/pardalys
	url = git@github.com:wrobel/pardalys.git
[submodule "kolab/kolab-cvs"]
	path = kolab/kolab-cvs
	url = git@github.com:wrobel/kolab-cvs.git
