[submodule "horde-glue"]
	path = horde-glue
	url = git@github.com:wrobel/horde-glue.git
[submodule "tools/topgit"]
	path = tools/topgit
	url = git@github.com:wrobel/topgit.git
[submodule "tools/pardalys"]
	path = tools/pardalys
	url = git@github.com:wrobel/pardalys.git
[submodule "kolab/kolab-cvs"]
	path = kolab/kolab-cvs
	url = git@github.com:wrobel/kolab-cvs.git
[submodule "latex/book-gentoo"]
	path = latex/book-gentoo
	url = git@github.com:wrobel/book-gentoo.git
[submodule "packaging/opensuse-build-service"]
	path = packaging/opensuse-build-service
	url = git@github.com:wrobel/opensuse-build-service.git
[submodule "packaging/debian-horde-ci"]
	path = packaging/debian-horde-ci
	url = git@github.com:wrobel/debian-horde-ci
